@layer base {
  :root {
    --text-size-xs: 0.75rem;
    --text-size-sm: 0.875rem;
    --text-size-md: 1rem;
    --text-size-lg: 1.25rem;
    --text-size-xl: 2rem;

    --font-system-sans: system-ui, sans-serif;
    --font-system-serif: ui-serif, serif;

    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;

    --color-paper: #e5f9e0;
    --color-accent-light: #a3f7b5;
    --color-accent: #40c9a2;
    --color-accent-dark: #2f9c95;
    --color-ink: #231f20;

    --gutter: clamp(1rem, 5vw, 3rem);
    --gutter-2x: calc(var(--gutter) * 2);

    --space-md: 1rem;
    --space-lg: 2rem;
    --space-xl: 4rem;

    --radius: 1rem;
  }
}
