<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}Dashi{{end}}</title>
    <link rel="shortcut icon" href="{{asset "icon.svg"}}">
    {{stylesheet "main.css"}}
    {{script "main.js"}}
    {{if .View}}
        {{printf "%s.css" .View | stylesheetIfExists}}
        {{printf "%s.js" .View | scriptIfExists}}
    {{end}}
</head>
<body class="layout {{if .View}}{{.View}}{{end}}">
    <div class="layout-header">
        {{template "_header.html" .}}
    </div>
    <main class="layout-main content">
        {{block "content" .}}{{end}}  
    </main>
</body>
</html>
{{/* vim: set ft=gotmpl: */}}
